:root {
    --my-green: #5fb950;
    --my-green-light: #61ff00;
    --my-white: #a9d5c4;
    --my-gray: #9fa3a5;
    --my-black: #0c1222;
    --my-black-light: #0f191f;
    --my-black-lightest: #13212e;
    --my-blue: #0c6291;
    --my-blue-light: #1174b1;
    --my-blue-lightest: #85dada;
    --my-purple: #c0caf5;
}

:root {
    --vp-c-bg: #0f191f;
    --vp-c-text-1: #a9d5c4;
    --vp-c-text-2: #9fa3a5;
    --vp-nav-bg-color: #0c1222;
    --vp-c-bg-soft: #13212e;
    --vp-c-brand: #5fb950;
    --vp-c-mute: var(--my-black);
    --vp-c-text-code: var(--my-purple);
    --vp-code-block-bg: var(--my-black);
}

.VPLink{
    text-align: center;
}

ul {
    color: var(--my-white) !important;
}

.vp-doc [class*='language-'] {
    border: solid 1pt var(--my-blue-light);
}

.vp-doc blockquote > p {
    color: var(--my-purple) !important;
}

blockquote {
    border-left: 4px solid var(--my-blue-light) !important;
    padding-left: 10px;
    color: var(--my-purple) !important;
}

a .outline-link {
    text-decoration: none;
}

.vp-doc :not(pre) > code {
    border-width: 5px;
    border-color: var(--my-green);
    border-radius: 0.375rem;
    font-size: .875em;
    font-weight: 500;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.25rem;
    white-space: nowrap;
}

a:not(.link) {
    color: #5fb950;
    text-decoration: underline;
    text-decoration-color: #1174b1;
}

a.outline-link {
    text-decoration: none;
}

.DocSearch-Button {
    height: 30px;
}

.outline-link {
    text-decoration: none;
}

@media only screen and (min-width: 767px) {
    .VPNavBarSearch {
        border: solid 2pt var(--my-white);
        border-radius: 10px;
    }
}

.DocSearch-Form {
    background-color: var(--my-black-lightest);
}


.VPPluginSearch-modal{
    background-color: var(--my-black-lightest);

}
.VPDocAsideOutline {
    border: solid 2pt #0c6291;
    border-radius: 15px;
    background-color: #13212e;
}

::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #0f1b23; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: var(--my-gray); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid var(--my-black); /* creates padding around scroll thumb */
}

.profile {
    border: solid 2pt #0c6291;
    border-radius: 15px;
}

a:hover {
    text-decoration-color: #1174b1;
    color: #61ff00;
    text-decoration-thickness: 0.2em;
}

.vp-doc a {
    text-decoration: underline;
    text-decoration-color: #1174b1;
}

.vp-doc a:hover {
    text-decoration-color: #1174b1;
    color: #61ff00;
    text-decoration-thickness: 0.2em;
}

.VPNav {
    background-color: var(--vp-nav-bg-color);
    border-bottom: solid;;
    border-bottom-width: 2pt;
    border-bottom-color: var(--my-blue);
}

.header {
    border: 2pt var(--my-blue);
}

.VPFooter {
    background-color: var(--vp-nav-bg-color) !important;
    border-top: 2px solid var(--my-blue) !important;
}


.vp-doc :not(pre) > code {
    border: solid 1pt var(--my-blue-light);
}

.VPPluginSearch-search-item {
    background-color: var(--my-black-lightest);
    border-color: var(--my-blue)
}
