:root {
    --my-green: #5fb950;
    --my-green-light: #61ff00;
    --my-white: #a9d5c4;
    --my-black: #0c1222;
    --my-black-lightest: #13212e;
    --my-blue: #1174b1;
    --my-blue-light: #3fc1c9;
    --my-blue-lightest: #4df5ff;
    --my-gray: #9fa3a5;
}

:root {
    --vp-c-bg: var(--my-black);
    --vp-c-text-1: var(--my-white);
    --vp-c-text-2: var(--my-gray);
    --vp-nav-bg-color: var(--my-black);
    --vp-c-bg-soft: var(--my-black-lightest);
    --vp-c-brand: var(--my-blue-lightest);
    --vp-c-mute: var(--my-black);
    --vp-c-text-code: var(--my-white);
    --vp-code-block-bg: var(--my-black-lightest);
    --vp-c-divider: var(--my-blue)
}

code {
    white-space: nowrap;
}

.VPLink {
    text-align: center;
}

ul {
    color: var(--my-white) !important;
}

.vp-doc blockquote > p {
    color: var(--my-white) !important;
}

.vp-doc blockquote {
    border-left: 4px solid var(--my-blue) !important;
    padding-left: 10px;
}

a {
    color: var(--my-blue-lightest);
}

a:not(.link):not(.outline-link) {
    text-decoration: underline 0.1em var(--my-blue);
}

a:hover:not(.link):not(.outline-link) {
    text-decoration: underline 0.2em var(--my-blue);
}

.VPPluginSearch-search-list a {
    text-decoration: none !important;
}

.DocSearch-Button {
    height: 30px;
}

.outline-link {
    text-decoration: none;
}

@media only screen and (min-width: 767px) {
    .VPNavBarSearch {
        border: solid 2pt var(--my-white);
        border-radius: 10px;
    }
}

.DocSearch-Form {
    background-color: var(--my-black-lightest);
}


.VPPluginSearch-modal {
    background-color: var(--my-black-lightest);

}

.VPDocAsideOutline {
    border: solid 2pt var(--my-blue);
    border-radius: 15px;
    background-color: var(--my-black-lightest);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--my-blue);
    border-radius: 10px;
    border: 2px solid var(--my-black);
}

.profile {
    border: solid 2pt var(--my-blue);
    border-radius: 15px;
}


.VPNav {
    background-color: var(--vp-nav-bg-color);
    border-bottom: solid;;
    border-bottom-width: 2pt;
    border-bottom-color: var(--my-blue);
}

.header {
    border: 2pt var(--my-blue);
}

.VPFooter {
    background-color: var(--vp-nav-bg-color) !important;
    border-top: 2px solid var(--my-blue) !important;
}


.vp-doc :not(pre) > code {
    border: solid 1pt var(--my-blue);
}

.VPPluginSearch-search-item {
    background-color: var(--my-black-lightest);
    border-color: var(--my-blue)
}
